<a{{! 
}}{{#attributes}}{{!
}}{{#href}} href="{{&href}}"{{/href}}{{!
}}{{#target}} target="{{&target}}"{{/target}}{{!
}}{{#rel}} rel="{{&rel}}"{{/rel}}{{!
}}{{#media}} media="{{&media}}"{{/media}}{{!
}}{{#hreflang}} hreflang="{{&hreflang}}"{{/hreflang}}{{!
}}{{#type}} type="{{&type}}"{{/type}}{{!
}}{{/attributes}}{{> attributes}}>
{{#content}}{{!
}}{{&.}}{{!
}}{{/content}}
</a>