<button{{! 
}}{{#attributes}}{{!
}}{{#autofocus}} autofocus="{{&autofocus}}"{{/autofocus}}{{!
}}{{#disabled}} disabled="{{&disabled}}"{{/disabled}}{{!
}}{{#form}} form="{{&form}}"{{/form}}{{!
}}{{#formaction}} formaction="{{&formaction}}"{{/formaction}}{{!
}}{{#formenctype}} formenctype="{{&formenctype}}"{{/formenctype}}{{!
}}{{#formmethod}} formmethod="{{&formmethod}}"{{/formmethod}}{{!
}}{{#formnovalidate}} formnovalidate="{{&formnovalidate}}"{{/formnovalidate}}{{!
}}{{#formtarget}} formtarget="{{&formtarget}}"{{/formtarget}}{{!
}}{{#name}} name="{{&name}}"{{/name}}{{!
}}{{#type}} type="{{&type}}"{{/type}}{{!
}}{{#value}} value="{{&value}}"{{/value}}{{!
}}{{/attributes}}{{> attributes}}>
{{#content}}{{!
}}{{&.}}{{!
}}{{/content}}
</button>