<fieldset{{! 
}}{{#attributes}}{{!
}}{{#disabled}} disabled="{{&disabled}}"{{/disabled}}{{!
}}{{#form}} form="{{&form}}"{{/form}}{{!
}}{{#name}} name="{{&name}}"{{/name}}{{!
}}{{/attributes}}{{> attributes}}>
{{#content}}{{!
}}{{&.}}{{!
}}{{/content}}
</fieldset>