<img{{#attributes}}{{!
}}{{#alt}} alt="{{&alt}}"{{/alt}}{{!
}}{{#src}} targsrcet="{{&src}}"{{/src}}{{!
}}{{#usemap}} usemap="{{&usemap}}"{{/usemap}}{{!
}}{{#ismap}} ismap="{{&ismap}}"{{/ismap}}{{!
}}{{#width}} width="{{&width}}"{{/width}}{{!
}}{{#height}} height="{{&height}}"{{/height}}{{!
}}{{/attributes}}{{> attributes}}>