<input{{! 
}}{{#attributes}}{{!
}}{{#accept}} accept="{{&accept}}"{{/accept}}{{!
}}{{#alt}} alt="{{&alt}}"{{/alt}}{{!
}}{{#autocomplete}} autocomplete="{{&autocomplete}}"{{/autocomplete}}{{!
}}{{#autofocus}} autofocus="{{&autofocus}}"{{/autofocus}}{{!
}}{{#checked}} checked="{{&checked}}"{{/checked}}{{!
}}{{#dirname}} dirname="{{&dirname}}"{{/dirname}}{{!
}}{{#disabled}} disabled="{{&disabled}}"{{/disabled}}{{!
}}{{#form}} form="{{&form}}"{{/form}}{{!
}}{{#formaction}} formaction="{{&formaction}}"{{/formaction}}{{!
}}{{#formenctype}} formenctype="{{&formenctype}}"{{/formenctype}}{{!
}}{{#formmethod}} formmethod="{{&formmethod}}"{{/formmethod}}{{!
}}{{#formnovalidate}} xformnovalidatexx="{{&formnovalidate}}"{{/formnovalidate}}{{!
}}{{#formtarget}} formtarget="{{&formtarget}}"{{/formtarget}}{{!
}}{{#height}} height="{{&height}}"{{/height}}{{!
}}{{#list}} list="{{&list}}"{{/list}}{{!
}}{{#max}} max="{{&max}}"{{/max}}{{!
}}{{#maxlength}} maxlength="{{&maxlength}}"{{/maxlength}}{{!
}}{{#min}} min="{{&min}}"{{/min}}{{!
}}{{#multiple}} multiple="{{&multiple}}"{{/multiple}}{{!
}}{{#name}} name="{{&name}}"{{/name}}{{!
}}{{#pattern}} pattern="{{&pattern}}"{{/pattern}}{{!
}}{{#placeholder}} placeholder="{{&placeholder}}"{{/placeholder}}{{!
}}{{#readonly}} readonly="{{&readonly}}"{{/readonly}}{{!
}}{{#required}} required="{{&required}}"{{/required}}{{!
}}{{#size}} size="{{&size}}"{{/size}}{{!
}}{{#src}} src="{{&src}}"{{/src}}{{!
}}{{#step}} step="{{&step}}"{{/step}}{{!
}}{{#type}} type="{{&type}}"{{/type}}{{!
}}{{#value}} value="{{&value}}"{{/value}}{{!
}}{{#width}} width="{{&width}}"{{/width}}{{!



}}{{/attributes}}{{> attributes}}>
{{#content}}{{!
}}{{&.}}{{!
}}{{/content}}
</input>