<link{{! 
}}{{#attributes}}{{!
}}{{#href}} href="{{&href}}"{{/href}}{{!
}}{{#rel}} rel="{{&rel}}"{{/rel}}{{!
}}{{#media}} media="{{&media}}"{{/media}}{{!
}}{{#hreflang}} hreflang="{{&hreflang}}"{{/hreflang}}{{!
}}{{#type}} type="{{&type}}"{{/type}}{{!
}}{{#sizes}} sizes="{{&sizes}}"{{/sizes}}{{!
}}{{/attributes}}{{> attributes}}>