<ol}}{{#attributes}}{{!
}}{{#reversed}} reversed="{{&reversed}}"{{/reversed}}{{!
}}{{#start}} start="{{&start}}"{{/start}}{{!
}}{{#type}} type="{{&type}}"{{/type}}{{!
}}{{/attributes}}{{> attributes}}>
{{#content}}{{!
}}{{&.}}{{!
}}{{/content}}
</ol>