<select{{! 
}}{{#attributes}}{{!
}}{{#autofocus}} autofocus="{{&autofocus}}"{{/autofocus}}{{!
}}{{#disabled}} disabled="{{&disabled}}"{{/disabled}}{{!
}}{{#form}} form="{{&form}}"{{/form}}{{!
}}{{#multiple}} multiple="{{&multiple}}"{{/multiple}}{{!
}}{{#name}} name="{{&name}}"{{/name}}{{!
}}{{#required}} required="{{&required}}"{{/required}}{{!
}}{{#size}} size="{{&size}}"{{/size}}{{!
}}{{/attributes}}{{> attributes}}>
{{#content}}{{!
}}{{&.}}{{!
}}{{/content}}
</select>