<styletyle{{! 
}}{{#attributes}}{{!
}}{{#media}} media="{{&media}}"{{/media}}{{!
}}{{#type}} type="{{&type}}"{{/type}}{{!
}}{{#scoped}} scoped="{{&scoped}}"{{/scoped}}{{!
}}{{/attributes}}{{> attributes}}>
{{#content}}{{!
}}{{&.}}{{!
}}{{/content}}
</style>