<td}}{{#attributes}}{{!
}}{{#colspan}} colspan="{{&colspan}}"{{/colspan}}{{!
}}{{#rowspan}} rowspan="{{&rowspan}}"{{/rowspan}}{{!
}}{{#headers}} headers="{{&headers}}"{{/headers}}{{!
}}{{/attributes}}{{> attributes}}>
{{#content}}{{!
}}{{&.}}{{!
}}{{/content}}
</td>