<textarea{{! 
}}{{#attributes}}{{!
}}{{#autofocus}} autofocus="{{&autofocus}}"{{/autofocus}}{{!
}}{{#cols}} cols="{{&cols}}"{{/cols}}{{!
}}{{#dirname}} dirname="{{&dirname}}"{{/dirname}}{{!
}}{{#disabled}} disabled="{{&disabled}}"{{/disabled}}{{!
}}{{#form}} form="{{&form}}"{{/form}}{{!
}}{{#maxlength}} maxlength="{{&maxlength}}"{{/maxlength}}{{!
}}{{#name}} name="{{&name}}"{{/name}}{{!
}}{{#placeholder}} placeholder="{{&placeholder}}"{{/placeholder}}{{!
}}{{#readonly}} readonly="{{&readonly}}"{{/readonly}}{{!
}}{{#required}} required="{{&required}}"{{/required}}{{!
}}{{#rows}} rows="{{&rows}}"{{/rows}}{{!
}}{{#wrap}} wrap="{{&wrap}}"{{/wrap}}{{!
}}{{/attributes}}{{> attributes}}>
{{#content}}{{!
}}{{&.}}{{!
}}{{/content}}
</textarea>