<th}}{{#attributes}}{{!
}}{{#colspan}} colspan="{{&colspan}}"{{/colspan}}{{!
}}{{#rowspan}} rowspan="{{&rowspan}}"{{/rowspan}}{{!
}}{{#headers}} headers="{{&headers}}"{{/headers}}{{!
}}{{#scope}} scope="{{&scope}}"{{/scope}}{{!
}}{{/attributes}}{{> attributes}}>
{{#content}}{{!
}}{{&.}}{{!
}}{{/content}}
</th>