{{#attributes}}{{! 
}}{{#accesskey}} accesskey="{{&accesskey}}"{{/accesskey}}{{!
}}{{#class}} class="{{&class}}"{{/class}}{{!
}}{{#contenteditable}} contenteditable="{{&contenteditable}}"{{/contenteditable}}{{!
}}{{#contextmenu}} contextmenu="{{&contextmenu}}"{{/contextmenu}}{{!
}}{{#dir}} dir="{{&dir}}"{{/dir}}{{!
}}{{#draggable}} draggable="{{&draggable}}"{{/draggable}}{{!
}}{{#dropzone}} dropzone="{{&dropzone}}"{{/dropzone}}{{!
}}{{#hidden}} hidden="{{&hidden}}"{{/hidden}}{{!
}}{{#id}} id="{{&id}}"{{/id}}{{!
}}{{#lang}} lang="{{&lang}}"{{/lang}}{{!
}}{{#spellcheck}} spellcheck="{{&spellcheck}}"{{/spellcheck}}{{!
}}{{#style}} style="{{&style}}"{{/style}}{{!
}}{{#tabindex}} tabindex="{{&tabindex}}"{{/tabindex}}{{!
}}{{#title}} title="{{&title}}"{{/title}}{{!
}}{{/attributes}}