<meta{{! 
}}{{#attributes}}{{!
}}{{#charset}} charset="{{&charset}}"{{/charset}}{{!
}}{{#name}} name="{{&name}}"{{/name}}{{!
}}{{#content}} content="{{&content}}"{{/content}}{{!
}}{{/attributes}}{{> attributes}}>